@font-face {
    font-family: josefin sans;
    src: url(../../font/JosefinSans-Medium.ttf);
}

$josefin-sans: josefin sans;

// Light Theme
$light-gray: hsl(0, 0%, 98%);
$very-light-gray-blue: hsl(236, 33%, 92%);
$light-gray-blue: hsl(233, 11%, 84%);
$dark-gray-blue: hsl(236, 9%, 61%);
$very-dark-gray-blue: hsl(235, 19%, 35%);

// Dark Theme
$very-dark-blue: hsl(235, 21%, 11%);
$desaturated-blue: hsl(235, 24%, 19%);
$light-gray-blue-dark: hsl(234, 39%, 85%);
$light-gray-blue-hover: hsl(236, 33%, 92%);
$dark-gray-blue-dark: hsl(234, 11%, 52%);
$very-dark-gray-blue-dark: hsl(233, 14%, 35%);

// primary colors
$bright-blue: hsl(220, 98%, 61%);
$check-background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);